
.DS_Store
dataset/vehicles.csv
tl_2017_us_state.zip
tl_2017_us_state/tl_2017_us_state.cpg
tl_2017_us_state/tl_2017_us_state.dbf
tl_2017_us_state/tl_2017_us_state.prj
tl_2017_us_state/tl_2017_us_state.shp
tl_2017_us_state/tl_2017_us_state.shp.ea.iso.xml
tl_2017_us_state/tl_2017_us_state.shp.iso.xml
tl_2017_us_state/tl_2017_us_state.shx
tl_2017_us_state/tl_2017_us_state.shp.xml
